.searchbar {
    & .search-icon {
        display: block;
        fill: none;
        height: 12px;
        width: 12px;
        stroke: currentcolor;
        strokeWidth: 5.33333;
        overflow: visible;
    }
}
