/* body::-webkit-scrollbar {width: 0 !important;} */

.shop-card {
    /* If inside any container display vertical, basically...*/
    @container (width < 19200px) {    
        height: 10em;
        min-height: 125px;
        display: grid;
        grid-template-columns: minmax(20%, 35%) auto;
        grid-row: auto;
        & .text-section  {
            display: grid;
        }
        & img {
            /* aspect-ratio: 1 / 1; */
            object-fit:cover;
            height: 100%;
            width: 100%;
        }
    }
    @media screen and (width < 540px) {
        height: 10em;
        min-height: 125px;
        display: grid;
        grid-template-columns: minmax(20%, 35%) auto;
        grid-row: auto;
        & .text-section  {
            display: grid;
        }
        & img {
            /* aspect-ratio: 1 / 1; */
            object-fit:cover;
            height: 100%;
            width: 100%;
        }
    }

}