.shop-card {
    @container (width < 900px) {
        height: 150px;
        display: grid;
        grid-template-columns: 20% auto;
        grid-row: auto;
        /* grid-template-areas: 
            "pic title title"
            "pic price price"
            "pic buttonxs remove"
        ; */
        & .text-section  {
            display: grid;
        }
        & img {
            height: 100%;
            width: 100%;
        }
    }
    @media screen and (width < 900px) {
        height: 150px;
        display: grid;
        grid-template-columns: 20% auto;
        grid-row: auto;
        /* grid-template-areas: 
            "pic title title"
            "pic price price"
            "pic buttonxs remove"
        ; */
        & .text-section  {
            display: grid;
        }
        & img {
            height: 100%;
            width: 100%;
        }
    }

}