@media only screen and (min-width: 768px) and (max-width: 854px) {
  .custom-desktop-orders-layout {
    display: none;
    background-color: red;
  }
}
@media only screen and (min-width: 854px) {
  .custom-mobile-orders-layout {
    display: none;
  }
}
@media only screen and (min-width: 1660px) {
  .main-grid-3xl {
    grid-template-columns: 1fr 1fr 4em;
  }
  .grid-3xl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 2000px) {
  .grid-3xl {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
